/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта. */

@keyframes shift {
    0% {
        margin-left: -15px;
    }
    100% {
    }
}
@keyframes slowly {
    0% {
        background-color: var(--themes-background);
    }
    100% {
        background-color: var(--themes-main-color);
    }
}
@keyframes like {
    0% {
      transform: scale(1);
      transform-origin: center;
    }
    100% {
      transform: scale(1.5);
      transform-origin: center;
    }
}
@keyframes spaks {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.like-icon .main-body {
    fill: transparent;
    transition: fill 0.3s ease-in-out, opacity 0.3s;
    opacity: 0.5;
  }
  
  .like-icon:hover .main-body  {
    fill: #000;
    opacity: 1;
  }
  
  .like-icon .core {
    fill: transparent;
    transition: fill 0.3s ease-in-out, opacity 0.3s;
    opacity: 0.5;
  }
  
  .like-icon:hover .core {
    fill: #000000;
    transition: fill 0.3s ease-in-out 0.03s;
    opacity: 1;
  }
  
  
  .like-icon:active .main-body  {
    fill: red;
    opacity: 1;
  }
  
  .like-icon:active .core {
    fill: red;
    transition: fill 0.3s ease-in-out 0.03s;
    opacity: 1;
  }
  
.core:active {
    transition-delay: 0.03s;
    fill: red;
    opacity: 0.5;
}

.like-icon:not(:hover) .core {
    transition-delay: 0.03s;
    opacity: 0.5;
}
  
.like-icon.is-liked .contour {
    transition: fill 0.3s ease-in-out 0.06s;
    fill: red;
    opacity: 1;
}
  
.like-icon.is-liked .main-body {
  fill: red;
  transition:  opacity 0.3s linear;
}

.like-icon.is-liked .core {
  fill: red;
  transition:  opacity 0.3s linear;
}


.like-icon .heart {
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
  
.like-icon.is-liked .heart {
  animation: like 0.3s ease-in alternate 0.1s ;
  transform: scale(1);
}

.like-icon.is-liked .sparks {
    animation: spaks 0.3s ease-in 0.3s 1 alternate;
}