.theme-menu__button {
  background: transparent;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  transition: opacity 0.3s ease;
  cursor: pointer;
  appearance: none;
  position: relative;
  color: var(--themes-main-color);
  font-family: var(--accent-font), sans-serif;
}


.theme-menu__button:focus {
  outline: none;
  opacity: 0.5;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  pointer-events: none;
  content: "▶";
  opacity: 0.5;
  position: absolute;
  animation: shift 0.5s ease-in-out alternate infinite;
  left: -5px;
  top: 0;

}

.theme-menu__button::after {
  content: '';
  display: block;
  position: absolute;
  inline-size: 0;
  block-size: 3.2px;
  background-color: var(--themes-main-color);
  transition: inline-size 0.3s ease, background-color 0.5s;
}


.theme-menu__button:hover {
  opacity: 0.5;
  cursor: pointer;
}


.theme-menu__button:focus-visible::after {
  inline-size: 100%;
  width: 100%;
}

.theme-menu__button:enabled:hover::after {
  width: 100%;
  background-color: var(--themes-main-color-trans);
}


.theme-menu__button:enabled:hover {
  opacity: 0.5;
} 

 /* .theme-menu__button:enabled:after {
  content: "";
  display: block;
  width: 0%;
  min-height: 3px;
  background-color: var(--themes-main-color);
  transition: width 300ms;
} */
